#!/bin/bash

SERVER="{{ server_url }}"

HOSTNAME=$(/bin/hostname)
IP=$(/bin/hostname -I | /usr/bin/awk '{print $1}')
USER=$(loginctl list-sessions 2>/dev/null | awk '$3 ~ /^[a-z]/ {print $3; exit}')
if [ -z "$USER" ]; then
  USER=$(who | awk '{print $1}' | grep -v root | head -n1)
fi
OS=$(/usr/bin/lsb_release -d | /usr/bin/awk -F"\t" '{print $2}')
MAC=$(ip link show | awk '/ether/ {print $2; exit}')


/usr/bin/curl -s -X POST "$SERVER" \
    -H "Content-Type: application/json" \
    -d "{
        \"hostname\": \"$HOSTNAME\",
        \"ip\": \"$IP\",
        \"user\": \"$USER\",
        \"os\": \"$OS\",
        \"mac\": \"$MAC\"
    }"

